# List required packages in this file, one per line.
torch
numpy
scipy
pandas
seaborn
matplotlib
scipy
constrained-matrix-factorization
kkcalc
pytest
cython
scipy
sphinx
sphinx-autobuild
sphinx_rtd_theme
nbsphinx
pint
versioneer
astropy
fabio
h5py
nodejs
pyfai
scikit-image
xarray
tqdm
cookiecutter
ipython
numpydoc
pexpect
pytest
sphinx-copybutton
